@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&&family=Bebas+Neue&family=Oswald:wght@500&family=Overpass&family=Roboto&family=Vollkorn&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/octicons/8.5.0/build.css');
//variables
$color-primary: #000;
$color-secondary: rgb(225, 168, 25);
$color-soft: #7b7b7b;
//$link: rgb(255, 234, 0);
$link: rgb(225, 168, 25);
//$color-secondary: rgb(3, 10, 137);
// Define the width and height of each icon
$iconWidth: 34px; // 50% of original width (68px / 2)
$iconHeight: 33.6px; // 50% of original height (67.2px / 2)

// Define the total number of icons
$totalIcons: 25;

// Define the path to your icons PNG file
$iconsPath: './assets/landscapesIcons.png';

// SCSS mixin to generate the background position and size for each icon
@mixin iconBackground($index) {
  $row: ceil($index / 5);
  $col: ($index - 1) % 5;
  $xPos: ($col * $iconWidth * 2) + ($col * 1px);
  $yPos: ($row * $iconHeight * 2) + ($row * 1px);
  background: url('#{$iconsPath}') $xPos $yPos no-repeat;
  background-size: 100%;
}

// SCSS loop to generate classes for each icon
@for $i from 1 through $totalIcons {
  .icon-#{$i} {
    width: $iconWidth;
    height: $iconHeight;
    overflow: hidden;
    position: relative;

    &::before {
      content: '';
      @include iconBackground($i);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  a {
    color: $link;
  }
}

body {
  display: flex;
  background-color: $color-primary;
  color: #fff;
  margin: 0;
  font-family: 'Overpass', monospace;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  .sizeToFit {
    width: 100%;
    border-radius: 6px;
  }

  a {
    color: pink;
  }
  h1 {
    font-family: 'Bebas Neue', sans-serif;
    color: #fff;
  }
  h2 {
    font-size: 28px;
    font-family: 'Oswald', sans-serif;
  }
  p {
    font-size: 16px;
    line-height: 1.65;
  }
  .tagline {
    font-family: 'Vollkorn', serif;
    text-transform: uppercase;
    color: $color-soft;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    @media screen and (min-width: 769px) {
      font-size: x-large;
    }
  }

  header {
    .mobile-logo {
      width: 50%;
      @media screen and (min-width: 769px) {
        display: none;
      }
    }
    div {
      text-align: center;
      min-width: 30px;
    }
    margin: 0;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;

    font-size: larger;
    background-color: #000;
    .menu-hamburger {
      margin-top: 6px;
      @media screen and (min-width: 769px) {
        display: none;
      }
    }
    nav ul {
      font-family: 'Oswald', sans-serif;
      display: flex;
      flex-direction: column;
      justify-content: center;

      padding-left: 2px;
      width: 100%;
      font-size: 16px;
      li {
        display: flex;
        justify-content: flex-start;
        text-align: left;
        padding: 6px;
        margin: 0 3px;

        border-top-left-radius: 6px; /* Add border radius */
        border-bottom-left-radius: 6px; /* Add border radius */

        .iconAndName {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .iconAndName > div:first-child {
          padding: 0 10px 2px;
        }

        svg {
          vertical-align: middle;
          padding-bottom: 2px;
        }

        a:active,
        a:visited,
        a {
          color: #fff;
          display: block;
          text-decoration: none;
        }
        &.active {
          background-color: $color-secondary;
        }

        &:hover {
          background-color: rgba($color-secondary, 0.5);
        }
      }
    }
    .desktop-menu {
      .logo {
        width: 100%;
      }
      position: fixed;
      top: 0;
      left: 0;
      width: 280px;
      height: 100%;
      background-color: $color-primary;
      z-index: 1000;

      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: flex-start;

      // Add additional desktop-specific styles here
      @media only screen and (max-width: 768px) {
        display: none;
      }
    }

    .mobile-menu {
      .logo {
        width: 100%;
        display: none;
      }
      position: fixed;
      top: 25px;
      right: 0;
      width: 50%;
      height: 100%;
      background-color: rgba($color-primary, 0.85);
      z-index: 1000;
      transform: translateX(200%);
      transition: transform 0.3s ease;

      @media only screen and (max-width: 768px) {
        display: block;
      }
      @media only screen and (min-width: 769px) {
        display: none;
      }

      .close-icon {
        position: fixed;
        top: 2;
        left: 100%;
        z-index: 1001;
        background-color: rgba($color-primary, 0.5);
        border: 1px solid #fff;
      }

      &.open {
        transform: translateX(0);
      }
    }
  }
}
.box {
  font-size: 18px;
  @media only screen and (max-width: 768px) {
    padding-right: 20px;
  }
  @media only screen and (max-width: 420px) {
    h2 {
      margin-top: 0;
      max-width: 65%;
    }
  }
  margin: 12px 0;
  padding: 20px;
  background-color: #212121;
  border-color: rgba(#fff, 0.25);
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  position: relative;
  p {
    margin-right: 24%;
  }
  .badge {
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    padding: 20px;
    @media only screen and (max-width: 768px) {
      font-size: 28px;
      padding: 6px;
    }
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: $color-secondary;
    color: black;
    line-height: 1.2;
    min-width: 100px;
    border-radius: 0 6px 0 50%;
    z-index: 50;
    display: flex; /* Add display: flex */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    flex-direction: column;
    small {
      font-size: 16px;
    }
  }
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }

  .text-content {
    flex: 1.5;
    p {
      margin: 0;
    }
  }
}

.image-container {
  position: relative;
  border-radius: 2px;

  @media screen and (min-width: 768px) {
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 6px;
  }

  .title1 {
    color: #a1d0ff;
    font-family: 'Fredericka the Great', cursive;
    font-size: 1.5rem;
  }

  .shadow {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
  }
}

.hidden img:last-child {
  opacity: 0;
}
main {
  flex: 1;
  max-width: 800px;
  margin: 0 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  div main a {
    color: green;
  }
}
footer {
  background-image: url('./assets/footer.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: $color-primary;
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  margin-top: auto;
  margin-bottom: 20px;
}
@media screen and (min-width: 769px) {
  main {
    margin-left: 300px;
  }
}
.scroller {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  padding-bottom: 10px;
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */

  &::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
  }

  @media (min-width: 768px) {
    gap: 20px;
    padding-bottom: 0;
  }

  .scroll-left,
  .scroll-right {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 20px;

    cursor: pointer;
    z-index: 2;
    transition: background-color 0.3s;

    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }

  .scroll-left {
    margin-left: 0px;
  }
  @media screen and (max-width: 769px) {
  }

  .scroll-right {
    right: 0;
  }
}

/* Rest of the SCSS styles remain the same */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.toggle-switch {
  display: inline-block;
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    input {
      opacity: 0;
      width: 0;
      height: 0;
      &:checked + .slider {
        background-color: $color-secondary; // Active color
      }
      &:checked + .slider:before {
        transform: translateX(30px); // Move the knob to the right
      }
    }
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc; // Inactive color
      border-radius: 15px;
      transition: 0.25s;
      &:before {
        position: absolute;
        content: '';
        height: 26px;
        width: 26px;
        left: 2px;
        bottom: 2px;
        background-color: white;
        border-radius: 50%;
        transition: 0.4s;
      }
    }
  }
}
