@import url("https://fonts.googleapis.com/css2?family=Neuton&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/octicons/8.5.0/build.css");
body {
  background-color: #e1a819;
  color: #fff;
  margin: 0;
  font-family: 'Neuton', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body h1 {
  color: #000;
}

body header {
  margin: 0;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: larger;
  background-color: #000;
}

body header .logo {
  color: grey;
  width: 15%;
}

@media screen and (min-width: 769px) {
  body header .menu-hamburger {
    display: none;
  }
}

body header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 2px;
  width: 100%;
}

body header ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
  padding: 6px;
  margin: 0 3px;
  border-top-left-radius: 6px;
  /* Add border radius */
  border-bottom-left-radius: 6px;
  /* Add border radius */
}

body header ul li .iconAndName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body header ul li .iconAndName > div:first-child {
  padding: 0 10px 2px;
}

body header ul li svg {
  vertical-align: middle;
  padding-bottom: 2px;
}

body header ul li a:active,
body header ul li a:visited,
body header ul li a {
  color: #fff;
  display: block;
  text-decoration: none;
}

body header ul li.active {
  background-color: #e1a819;
}

body header ul li:hover {
  background-color: rgba(225, 168, 25, 0.5);
}

body header .desktop-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  background-color: #000;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body header .desktop-menu .logo {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  body header .desktop-menu {
    display: none;
  }
}

body header .mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  background-color: #000;
  z-index: 1000;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

body header .mobile-menu .logo {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  body header .mobile-menu {
    display: block;
  }
}

@media only screen and (min-width: 769px) {
  body header .mobile-menu {
    display: none;
  }
}

body header .mobile-menu .close-icon {
  position: fixed;
  top: 2;
  left: 100%;
  z-index: 1001;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #fff;
}

body header .mobile-menu.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

main {
  margin-left: 20px;
}

@media screen and (min-width: 769px) {
  main {
    margin-left: 300px;
  }
}

.scroller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 10px;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  overflow-x: auto;
  padding-bottom: 10px;
  scrollbar-width: none;
  /* Hide scrollbar for Firefox */
  -ms-overflow-style: none;
  /* Hide scrollbar for IE and Edge */
}

.scroller::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar for Chrome, Safari, and Opera */
}

@media (min-width: 768px) {
  .scroller {
    gap: 20px;
    padding-bottom: 0;
  }
}

.scroller .scroll-left,
.scroller .scroll-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  z-index: 2;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.scroller .scroll-left:hover,
.scroller .scroll-right:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.scroller .scroll-left {
  margin-left: 0px;
}

.scroller .scroll-right {
  right: 0;
}

/* Rest of the SCSS styles remain the same */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
/*# sourceMappingURL=index.css.map */